<div class="col">
    <div class={{imagen.class}} style="background-image: url({{imagen.src}});">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Mira los Estrenos</h2>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto">
            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
          </li>
          
        </ul>
      </div>
    </div>
  </div>